@import url(fonts.css);

html,
body {
  background: #f2f2f2;
  font-family: 'Century Gothic', GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
}

* { outline: 0; }

/* Helpers */
.display-none {
  display: none;
  height: 0;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}

/* Buttons */
button.btn-page {
  border-radius: 150px;
  margin: 0 0.5em;
  padding: 0 12px;
}
